header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  justify-items: center;
  height: 100%;
  padding-bottom: 1rem;

  .h-p1 {
    margin-top: 5%;
    align-self: center;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;

    .h-menu {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      height: 100%;
      width: 20%;
      z-index: 999;

      .linear {
        height: 3px;
        width: 1.9rem;
        border: none;
        transition: all;
        transition-duration: 500ms;
        background-color: var(--icons-white);
      }

    }

    .h-svg {
      display: flex;
      gap: 20px;
      
      svg path{
        fill: var(--icons-white);
      }
    }

    #searchbar-container{
      position: absolute;
      z-index: 100;
      width: 90%;
      top: 85%;
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      background-color: #fff;

      input{
        width: 82%;
        height: 2rem;
        padding-left: 3rem;
        border: none;
        border-radius: 4px;
        outline: 2px solid var(--bg-dark);
        transition: all ease-in 150ms;
        
        &:focus,
        &:active{
          outline: 2px solid var(--primary-color);
        }
      }
      svg{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 24px;
        height: 24px;
      }
      
      #dropdown-content{
        display: none;
        flex-flow: column nowrap;
        width: 100%;
        max-height: 380px;
        margin-top: 8px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 6px 6px 8px rgba($color: #000000, $alpha: 0.2);
        a{
          width: 100%;
          text-decoration: none;
          padding: 0.5rem 0 0.5rem 1rem;
          border-bottom: 1px solid #cccccc;
          color: var(--text-dark);
          transition: all ease-in 150ms;
          letter-spacing: 1px;
          font-weight: bold;
          cursor: pointer;
          
          &:hover{
            color: var(--secondary-color);
            border-bottom: 1px solid var(--secondary-color);
          }
        }
      }
    }
  }
}

nav {
  position: absolute;
  height: 0px;
  overflow: hidden;
  transition: all;
  transition-duration: 100ms;
  background-color: white;
  width: 100%;
  opacity: 100%;
  z-index: 100;

  .nav-eng {
    margin: 5%;
  }

  .n-button-v {
    font-size: 1.2rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    border-radius: 5px;
    color: white;
    margin-bottom: 1rem;
  }

  .n-button-r {
    font-size: 1.2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    margin-bottom: 1rem;
  }

  .n-section {
    margin-top: 1rem;
    opacity: 70%;

    .n-section-introducer-cont {
      display: flex;
      align-items: center;
      gap: 10px;

      .n-section-introducer {
        font-size: 1.1rem;
        min-width: max-content;
      }


    }

    .lang {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .h-lang-cont {
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      .h-lang {
        background-color: hsl(0, 0%, 50%, 0.4);
        padding-block: 0.2rem;
        padding-inline: 0.5rem;
        height: max-content;
      }

    }

    .n-section-content {
      margin-inline: 5%;
      margin-bottom: 0.2rem;

      .n-url-name {
        min-width: fit-content;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .line {
        margin-top: -10px;
        opacity: 20%
      }

      .h-copy {
        align-self: center;
      }
    }
  }
}


// GENERAL STYLES

.line {
  background-color: black;
  width: 100%;
  height: 1px;
}
