// GLOBAL VARIABLES
:root{
  //DEFAULT THEME
  --bg-dark: #141414;
  --bg-light: #ffffff;
  --bg-surface: #dddddd;
  --primary-color: #00ff82;
  --primary-variant-color: #008b48;
  --secondary-color: #4218bd; //COMPLEMENTARY COLOR
  --text-dark: #141414;
  --icons-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}
